<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
  "
>
  <div style="display: flex; flex-direction: row">
    <app-text-input
      (usernameChange)="receiveUsernameOne($event)"
    ></app-text-input>
    <p style="margin: 2vh 20px">VS</p>
    <app-text-input
      (usernameChange)="receiveUsernameTwo($event)"
    ></app-text-input>
  </div>
  <br />
  <br />
  <button class="button" (click)="onSubmit()">Duel</button>

  <div class="error" *ngIf="errorMessage; else elseBlock">
    <h1>
      {{ errorMessage }}
    </h1>
  </div>

  <ng-template #elseBlock>
    <div class="dual-profiles">
      <div class="winner-label">
        <div *ngIf="winner == 1" class="winner"><h1>Winner</h1></div>
        <div></div>
        <div *ngIf="winner == 2" class="winner"><h1>Winner</h1></div>
      </div>
      <app-profile
        [user]="currentUserOne"
        [ngClass]="winner === 1 ? 'winner' : ''"
      ></app-profile>
      <app-profile
        [user]="currntUserTwo"
        [ngClass]="winner === 2 ? 'winner' : ''"
      ></app-profile>
    </div>
  </ng-template>
</div>
