<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
  "
>
  <div style="display: flex; flex-direction: row">
    <app-text-input
      (usernameChange)="receiveUsernameOne($event)"
    ></app-text-input>
    <p style="margin: 2vh 20px">VS</p>
    <app-text-input
      (usernameChange)="receiveUsernameTwo($event)"
    ></app-text-input>
  </div>
  <br />
  <br />
  <button class="button" (click)="onSubmit()">Duel</button>

  <div class="error" *ngIf="errorMessage; else elseBlock">
    <h1>
      {{ errorMessage }}
    </h1>
  </div>

  <ng-template #elseBlock>
    <div class="dual-profiles">
      <div *ngIf="winner === 1" class="winner-text">
        <p>
          {{ currentUserOne?.username }} has more total stars and followers than
          {{ currentUserTwo?.username }}
        </p>
      </div>

      <div *ngIf="winner === 2" class="winner-text">
        <p>
          {{ currentUserTwo?.username }} has more total stars and followers than
          {{ currentUserOne?.username }}
        </p>
      </div>

      <app-profile
        [user]="currentUserOne"
        [winner]="winner === 1 ? true : false"
        [ngClass]="winner === 1 ? 'winner' : ''"
      ></app-profile>
      <app-profile
        [user]="currentUserTwo"
        [winner]="winner === 2 ? true : false"
        [ngClass]="winner === 2 ? 'winner' : ''"
      ></app-profile>
    </div>
  </ng-template>
</div>
