/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto&family=Roboto+Slab:wght@900&display=swap");

:root {
  --dark-grey: #121212;
  --gray: #979197;
  --light-gray: #c1bec1;
  --lighter-gray: #edeced;
  --purple: #7b2658;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03rem;
  background-color: var(--dark-grey);
  color: white;
}

.error h1 {
  color: rgba(255, 0, 0, 0.642);
}

.button {
  box-sizing: border-box;
  width: 265px;
  height: 81px;
  cursor: pointer;
  background: var(--lighter-gray);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "Roboto Slab";
  color: var(--dark-grey);
  font-size: 1.5em;
}

.button:hover {
  background: var(--purple);
}

.green {
  background-color: #1a442c;
}
