nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: blueviolet;
  border-bottom: 3px solid black;
  height: 125px;
}

.link {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: var(--light-gray);
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

.active h1 {
  color: var(--purple);
}

.logo {
  font-size: 70px;
}
